@font-face {
    font-family: Genshin;
    src: url(font/zh-cn.ttf);
}

:root{
   --cor0: #88c997;
   --cor1: #a8e46c;
   --cor2: #d6f4d3;
   --cor3: #6c9728;
   --cor4: #567e5f;
   --cor5: white;
   --cor6: black;

   --fonte-padrao: 'Genshin'; 
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Genshin';
}

header{
    background-color: var(--cor4);
    text-align: right;
}

nav{
    display: flex;
    align-items: center;
    padding: 30px 50px;
}

nav > h1{
    color: var(--cor5);
    font-size: 2em;
}

nav > a{
    color: var(--cor5);
    font-size: 25px;
    text-decoration: none;
    display: flex;
    margin-left: auto;
    transition-duration: 0.5s;
}

a:hover{
    color: var(--cor1);
    text-decoration: underline;
}

nav a + a {
    margin-left: 50px; /* Espaço entre cada link */
}

body{
    background-color: var(--cor2);
}

main{
    width: 100%;
}

section#visao-geral{
    text-align: left;
    background-color: var(--cor0);
    height: 650px;
    border-radius: 10px;
    margin: 50px;
}

section#visao-geral > h1 {
    font-size: 3em;
    padding: 30px;
    color: var(--cor5);
}

div#img {
    display: flex;
    align-items: center;
    position: relative;
    top: -20px; /* Move a div para cima */
    height: 430px;
}

div#img > img {
    width: 500px;
    height: 650px;
    padding-right: 100px;
}

div#img > p {
    width: 70%;
    font-size: 35px;
    color: var(--cor5);
    padding-left: 50px;
    padding-right: 100px;
    text-align: justify;
}

div#img > p::before{
    color: var(--cor4);
    font-size: 120px;
    content: "“";
    font-style: normal;
    height: 40px;
    line-height: 120px;
    overflow: hidden;
    position: relative;
}

div#img > p::after{
    color: var(--cor4);
    font-size: 120px;
    content: "”";
    font-style: normal;
    height: 40px;
    line-height: 120px;
    overflow: hidden;
    position: absolute;
    padding-top: 20px;
}